$colour-primary : #9356DC;
$colour-secondary : #FF79DA;
$colour-third : #99E2D0;
$colour-text-light : #FFFFFF;
$colour-text-dark : #000000;
$colour-background : #ececec;
$background-card : #FFFFFF;

$fa-font-path : "../libs/webfonts";

$bis : #000000;